<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lzhs.com.baseapplication">

    <application
        android:name=".APPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 应用启动入口页面   充当闪屏页面 -->
        <activity android:name=".module.StartActivity" />
        <!-- 账号登陆页面 -->
        <activity android:name=".module.login.LoginActivity" />
        <!-- 手机注册页面 -->
        <activity android:name=".module.login.PhoneRegistActivity" />

        <!-- 新装软件登陆 -->
        <activity android:name=".module.login.NewAppActivity">

        </activity>
        <!-- 页面的主菜单页面 -->
        <activity android:name=".module.menu.MenuActivity" />
        <!-- 模板选择：选择横屏竖屏 -->
        <activity android:name=".module.menu.myads.make.delegate.formework.SomehowScreenActivity" />
        <!-- 选择模板查看 -->
        <activity android:name=".module.menu.myads.make.delegate.formework.SeeTheTemplateActivity" />
        <!-- 模板使用 -->
        <activity android:name=".module.menu.myads.make.delegate.formework.UseActivity" />
        <!-- 身份认证 -->
        <activity android:name=".module.menu.homepage.delegate.authentication.AuthenticationActivity" />
        <!-- 充值：支付宝 微信 -->
        <activity android:name=".module.menu.homepage.delegate.type.recharge.RecargeActivity" />
        <!-- 投放广告类型选择：普通，自投，插播 -->
        <activity android:name=".module.menu.myads.putin.PutInStyleActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <!-- 购物车之立即结算 -->
        <activity android:name=".module.menu.homepage.delegate.type.cleaning.CleaningActivity" />
        <!--继续投放 -->
         <activity android:name=".module.menu.myads.putin.ContinueAddActivity">

         </activity>
     </application>

 </manifest>